<div *ngIf="followers">
  <div class="mt-2 row">
    <div class="col-md-4 col-sm-6" *ngFor="let follower of followers">
      <app-user-card-view [user]="follower"></app-user-card-view>
    </div>
  </div>
  <p *ngIf="followers.length==0">
    No Users to list!
  </p>
  <nav aria-label="Page navigation" class="text-xs-center mt-2 mb-2">
    <div class="btn-group" data-toggle="buttons">
      <button [disabled]="page<2" [routerLink]="['.']" [queryParams]="{page: page - 1}" type="button" class="btn page-link">Previous</button>
      <button [disabled]="perPage!=followers.length" [routerLink]="['.']" [queryParams]="{page: page + 1}" type="button" class="btn page-link">Next</button>
    </div>
  </nav>
</div>